/* 0. CSS Setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Fonts */
    font-size: 12px;
    --sans: Montserrat, Arial, sans-serif; 

    /* Colors */
    --main: rgb(0, 0, 0); 
    --second: rgb(255, 255, 255);
    --button: linear-gradient(90deg, rgb(172, 17, 233) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    /* Hiding Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

/* 1. Header */

header {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(2, 2, 2, 0.5)), url(img/palm.jpg);
    background-size: cover;
}

header h1 {
    font-size: 8.5rem;
}  

header .arrow {
    width: 1.85rem;
    display: none;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 0.45rem;
    transition: all 0.4s ease;
}

/* 2. Main Content */

section {
    min-height: 100vh;
    padding-bottom: 1.75rem;
}

h1 {
    font-size: 3rem;
    font-family: var(--sans);
    color: var(--second);
    text-align: center;
    padding-top: 1.65rem; 
}

h2 {
    font-size: 3rem;
    font-family: var(--sans);
    color: var(--second);
    text-align: center;
}

p {
    font-size: 1.35rem;
    font-family: var(--sans); 
    color: var(--second);
    width: 90%;
    margin: 1.5rem auto;
    text-align: center;
}

button {
    background: var(--button);
    color: var(--second);
    font-family: var(--sans);
    font-size: 1.3rem;
    font-weight: 900;
    border-radius: 3em;
    border: none;
    padding: 0.75em 2em;
    transition: all ease 0.3s;
}

.container {
    margin: 0 auto;
    padding-top: 1.7rem;
}

#small {
    display: block;
}

#big {
    display: none;
}

#huge {
    display: none;
}

/* 2.1 First Section */

.first {
    background: var(--main);
    display: flex;
    padding-top: 40px;
}

.first .container {
    width: 80vw;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first .content {
    display: grid;
    justify-items: center;
}

.first .image {
    display: grid;
}

.first h1 {
    font-size: 7rem;
    position: absolute;
    padding: 0;
}

.first img {
    width: 100%;
    max-width: 30rem;
    border-radius: 2px;
}

.first p {
    max-width: 30rem;
    font-style: italic;
    margin-bottom: 0;
}

/* 2.2 Second Section */

.second {
    background: var(--second);
}

.second h1 {
    color: var(--main);
}

.second .container {
    width: 85vw;
    display: flex;
    flex-wrap: wrap; 
}

.second .content {
    flex: 1 1 350px;
    text-align: center;
}

.second img {
    width: 100%;
    margin-bottom: 2rem;
    align-self: flex-start;
    border-radius: 3px;
    box-shadow: 0px 0.5px 20px -3px rgb(24, 24, 24);
    transition: all 0.4s ease;
}

/* 2.3 Third Section */

.third {
    background: var(--main);
    padding-bottom: 3.75rem;
}

.third .container {
    width: 70vw;
    display: grid;
    grid-gap: 3rem 2rem;
    align-self: center;
}

.third .content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: center;
}

.third .overlay {
    grid-row: 2;
}

.third a {
    height: fit-content;
    margin: 0 auto;
}

.third .card {
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(2, 2, 2, 0.5)), url(img/cards.jpg);
    background-size: cover;
    border-radius: 2px;
}

/* 2.4 Fourth Section */

.fourth {
    background: var(--second);
}

.fourth h1 {
    color: var(--main);
}

/* 2.5 Fifth Section */

.fifth {
    background: var(--main);
}

/* 2.5 Sixth Section */

.sixth {
    background: var(--second);
}

.sixth h1 {
    color: var(--main);
}

/* 3. Footer */

footer {
    background: var(--second);
    height: 10rem;
}

/* 4. Media Queries */

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    header h1 {
        font-size: 10rem;
    }  

    .first .container {
        width: 70vw;
    }

    .second img {
        width: calc(100% - 2rem);
    }

    .third .container {
        width: 65vw;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 25px;
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 0.6rem;
        margin: 1rem auto;
    }

    button {
        font-size: 0.6rem;
    }

    #small {
        display: none;
    }

    #big {
        display: block;
    }

    header h1 {
        font-size: 11rem;
    }  

    .first h1 {
        font-size: 6rem;
    }

    .first img {
        max-width: 20rem;
    }

    .first p {
        width: 81%;
        max-width: 600px;
    }

    .second img {
        width: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
    }

    .third {
        display: grid;
        grid-template-rows: 5.2rem 1fr;
    }

    .third .container {
        grid-template-columns: repeat(2, 1fr);
        width: 85vw;
    }

    .third .card {
        height: 25rem;
    }
}

@media (min-width: 1350px) {
    #huge {
        display: block;
    }

    .first .content {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 1.5rem;
    }

    .first p {
        max-width: none;
        margin: 0 auto;
        align-self: center;
        text-align: left;
    }

    .third .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .third #huge {
        display: grid;
    }
}

@media (hover: hover) {
    button:hover {
        transform: scale(1.15);
        cursor: pointer;
    }

    .second img:hover {
        transform: scale(1.05);
    }
}

@media (hover: hover) and (min-width: 992px) {
    header .arrow {
        display: block;
    }

    header .arrow:hover {
        filter: drop-shadow(0px 2px 5px rgb(27, 27, 27));
        transform: scale(1.1) translateY(12px);
    }

    .third .overlay {
        width: calc((85vw - 2rem) / 2);
        height: 25rem;
        display: grid;
        grid-template-rows: 10.7rem 1fr 3fr;
        position: absolute;
        cursor: default;
        opacity: 0;
        transform: scale(0.5);
        z-index: 1;
        transition: opacity ease 0.4s, transform ease-out 0.25s;
    }

    .third .content:hover .overlay {
        opacity: 1;
        transform: scale(1);
    }

    .third p {
        max-width: 300px;
        grid-row: 2;
    }

    .third a {
        grid-row: 3;
    }

    .third .card::after {
        content: '';
        width: calc((85vw - 2rem) / 2);
        height: 25rem;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
        opacity: 0;
        transition: all ease-out 0.25s;
    }

    .third .content:hover .card::after {
        opacity: 1;
    }

    .third h2 {
        cursor: default;
        margin-bottom: 4.9rem;
        z-index: 1;
    }
}

@media (hover: hover) and (min-width: 1350px) {
    .third .overlay, .third .card::after {
        width: calc((85vw - 6rem) / 4);
    }
}

@media (orientation: landscape) and (max-width: 992px) {
    .container {
        width: 60vw !important;
    }
}