/* 0. CSS Setup */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Fonts */
    font-size: 12px;
    --sans: Montserrat, Arial, sans-serif; 

    /* Colors */
    --main: rgb(0, 0, 0); 
    --second: rgb(255, 255, 255);
    --button: linear-gradient(90deg, rgb(172, 17, 233) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

    /* Hiding Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

/* 1. Header */

header {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(2, 2, 2, 0.5)), url(img/palm.jpg);
    background-size: cover;
}

header h1 {
    font-size: 8.5rem;
}  

.arrow {
    width: 1.85rem;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 0.45rem;
    transition: all 0.4s ease;
    display: none
}

.arrow:hover {
    filter: drop-shadow(0px 2px 5px rgb(27, 27, 27));
    transform: scale(1.1) translateY(12px);
}

/* 2. Main Content */

section {
    min-height: 100vh;
    padding-bottom: 1.75rem;
}

h1 {
    font-size: 3rem;
    font-family: var(--sans);
    color: var(--second);
    text-align: center;
    padding: 1.7rem 0;  
}

h2 {
    font-size: 3rem;
    font-family: var(--sans);
    color: var(--second);
    text-align: center;
}

p {
    font-size: 1.35rem;
    font-family: var(--sans); 
    color: var(--second);
    margin: 1.5rem auto;
}

button {
    background: var(--button);
    color: var(--second);
    font-family: var(--sans);
    font-size: 1.3rem;
    font-weight: 900;
    border-radius: 3em;
    border: none;
    padding: 0.75em 2em;
    transition: all ease 0.3s;
}

button:hover {
    cursor: pointer;
}

.last, .lust {
    display: none;
}

/* 2.1 First Section */

.first {
    background: var(--main);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first .content {
    max-width: 85vw;
}

.first img {
    max-width: 85vw;
    border-radius: 2px;
}

.first p {
    font-style: italic;
}

/* 2.2 Second Section */

.second {
    background: var(--second);
}

.second h1 {
    color: var(--main);
    padding-top: 1.65rem;
}

.second .container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
}

.second .content {
    flex: 1 1 350px;
    text-align: center;
}

.second img {
    width: 100%;
    margin-bottom: 2rem;
    align-self: flex-start;
    border-radius: 3px;
    box-shadow: 0px 0.5px 20px -3px rgb(24, 24, 24);
    transition: all 0.4s ease;
}

/* 2.3 Third Section */

.third {
    background: var(--main);
}

.third .container {
    width: 70vw;
    margin: 0 auto 2rem;
    display: grid;
    align-self: center;
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}

.third .content {
    text-align: center;
}

.third .card {
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(2, 2, 2, 0.5)), url(img/cards.jpg);
    background-size: cover;
    border-radius: 2px;
}

.third p {
    width: 90%;
}

/* 2.4 Fourth Section */

.fourth h1 {
    color: var(--main);
}

/* 2.5 Fifth Section */

.fifth {
    background: var(--main);
}

/* 3. Footer */

footer {
    background: var(--second);
    height: 10rem;
}

/* 4. Media Queries */

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    header h1 {
        font-size: 10rem;
    }  

    .second img {
        width: calc(100% - 2rem);
    }

    .third .container {
        width: 65vw;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 25px;
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 0.5rem;
        margin: 1rem auto;
    }

    button {
        font-size: 0.6rem;
    }
    
    button:hover {
        transform: scale(1.15);
    }

    .lust {
        display: block;
    }

    header h1 {
        font-size: 11rem;
    }  

    header .arrow {
        display: block;
    }

    .second img {
        width: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
    }

    .second img:hover {
        transform: scale(1.05);
    }

    .third {
        display: grid;
        grid-template-rows: 5.2rem 1fr;
        row-gap: 1rem;
    }

    .third .container {
        grid-template-columns: repeat(3, 1fr);
        width: 85vw;
    }

    .third .card {
        height: 20rem;
    }
}

@media (min-width: 1350px) {
    .last {
        display: block;
    }

    .third .container {
        grid-template-columns: repeat(4, 1fr);
    }
}