/* 0. CSS Setup */

html {
    /* Fonts */
    font-size: 12px;
    --sans: Montserrat, Arial, sans-serif; 

    /* Colors */
    --main: rgb(0, 0, 0); 
    --second: rgb(255, 255, 255);

    /* Hiding Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
  }

body {
    box-sizing: border-box;
    background: var(--main);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
img,
button {
    margin: 0;
    padding: 0;
}

/* 1. Header */

header {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(2, 2, 2, 0.5)), url(img/background.jpg);
    background-size: cover;
}

header h1 {
    font-family: var(--sans);
    font-size: 8.5rem;
    color: var(--second);
}  

header div {
    position: absolute;
    align-self: flex-end;
    font-size: 4rem;
}

header i {
    color: white;
    padding-bottom: 0.65rem;
    transition: all 0.2s ease;
}    



/* 2. Main Content */

section {
    min-height: 100vh;
}

/* 2.1 First Section */
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.75rem;
}

.first div {
    max-width: 85vw;
}

h1 {
    font-family: var(--sans);
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 1.65rem 0;  
}

.first p {
    font-family: var(--sans); 
    font-size: 1.35rem;
    font-style: italic;
    color: white;
    margin: 1.35rem 0;
}

.first img {
    max-width: 85vw;
    border-radius: 2px;
}

/* 2.2 Second Section */

.second {
    background-color: var(--second);
}

.second h1 {
    color: rgb(0, 0, 0);
    padding-top: 1.65rem;
}

.second .container {
    width: 85vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    column-gap: 1.5rem;
}

.container div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
}

#last {
    display: none;
}

.container img {
    width: 100%;
    margin-bottom: 1.5rem;
    align-self: flex-start;
    border-radius: 3px;
    box-shadow: 0px 0.5px 20px -3px rgb(24, 24, 24);
    transition: all 0.4s ease;
    overflow: hidden;
}

/* 3. Media Queries */

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }

    header h1 {
        font-size: 10rem;
    }  

    header i:hover {
        filter: drop-shadow(0px 2px 5px rgb(27, 27, 27));
        transform: scale(1.1) translateY(10px);
    }

    .container img:hover {
        transform: scale(1.05);
    }
}

@media (min-width: 992px) {
    html {
        font-size: 25px;
    }
    
    header h1 {
        font-size: 11rem;
    }  

    header div {
        font-size: 3rem;
    }
}

@media (min-width: 1350px) {
    #last {
        display: flex;
    }
}